.team-info
{
	display: none;
}

.chosen-team-rotation
{
	display: none;
}

.team-rotation-line-chart
{
	height: 800px;
}
.game-buttons
{
	padding-bottom: 25px;
}

.salary-reset
{
	margin-left: 15px;
}

.options-inline
{
	display: inline-block;
	margin-right: 20px;
}

.options-inline select
{
	width: 100px;
}

.salary-input,
.team-drop-down
{
	margin-right: 10px;
	width: 150px;
}

#daily-stats
{
	font-size: 10px;
}

.vr-row 
{
	background-color: #FFE6C2;
}

.table tbody tr:hover td
{
	background-color: #DCDCDC;
}

/* matchups table for pop-up */

.inside_box table
{
	text-align: left;
	border-color: gray;
	border-spacing: 1px;
	margin-bottom: 18px;
}

.inside_box th 
{
	background-color: #FFEBCC;
	border: 1px solid #DDDDDD;
	padding: 4px;
	text-align: left;
}

.inside_box td
{
	padding: 4px;
	text-align: left;
	border: 1px solid #DDDDDD;
}